body {
    --rojo: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.contenedor {
    border: 3px solid black;
    padding: 5px;
    max-width: 1000px;
    display: flex;
    /* display: inline-flex; */
    flex-direction: column;
    /* flex-direction: row; */
    /* flex-direction:column-reverse */
    /* flex-wrap: wrap; */
    /* flex-flow: column-reverse wrap; */
}

.caja {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px;
    border: 4px solid rgb(29, 28, 28);
    margin: 10px;
    background-color: grey;
    /*Caja adaptable*/
    flex-grow: 1;
    flex-shrink: 1;
    /* flex-basis: calc((100% / 3) - 68px);*/
}

.roja {
    background-color: var(--rojo);
    /* order: 4;*/
    /*Caja adaptable
    flex-grow: 5;*/
}

.verde {
    background: green;
    /* order: 3;*/
    /*Caja adaptable reducir
                    flex-shrink: 0;*/
}

.azul {
    background: blue;
    /*order: 1;*/
}

.naranja {
    background: orange;
    /*order: 2;*/
   /* flex-basis: 100%;*/
}